
@{
    ViewBag.Title = "ShoppingSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style="text-align:center">
    <h2>Shopping Successed !!!</h2>
    <h4>Shop da nhan duoc order cua ban, ban se nhan duoc hang trong vong 2 den 3 ngay</h4>
    <a class="btn btn-success" href="@Url.Action("ShowProduct","Products")">Continue to shopping</a>
</body>


